body {
  margin: 0;
}

.controlsTop {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
}

.controlsBot {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
}

.move {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
} 
.moveRow {
  display: flex;
  gap: 0.25em;
} .moveRow>button {
  width: 2em;
}

.place {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
} .place>button {
  width: 2.5em;
}

.mine {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
} .mine>button {
  width: 2.5em;
}

.eval {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
} .eval>input {
  text-align: center;
}

.tooltip {
  position: absolute;
  right: 0px;
  display: none; 
  background: red; 
  color: white; 
  padding: 5px; 
  border-radius: 4px; 
  pointer-events: none;
}